$bg-beer-js: #F9E034;
body {
    background-color: $bg-beer-js;
}

//Canvas Buubles
canvas.sketch {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
}

.primary-layer {
    z-index: 1;
    position: relative;
    &.primary-layer--no-position {
        position: initial;
    }
}

//GAPS
$gap: 120px;
.top-gap {
    margin-top: $gap;
}

.bottom-gap {
    margin-bottom: $gap;
}

.left-gap {
    margin-left: $gap;
}

.right-gap {
    margin-right: $gap;
}

.no-top-gap {
    margin-top: 0;
}

.no-bottom-gap {
    margin-bottom: 0;
}

.no-left-gap {
    margin-left: 0;
}

.no-right-gap {
    margin-right: 0;
}

//FLEX
.flex {
    display: flex;
    &.flex--align-center {
        justify-content: center;
    }
    &.flex--align-center-center {
        align-items: center;
        justify-content: center;
    }
    &.flex--align-center-baseline {
        align-items: baseline;
        justify-content: center;
    }
    &.flex--column {
        flex-direction: column;
    }
}

//HEADER
.beer-nav {
    background-color: rgba(0, 0, 0, .05);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.02), 0 1px 5px 0 rgba(0, 0, 0, 0), 0 3px 1px -2px rgba(0, 0, 0, 0.08);
}

.beer-nav a {
    color: #000;
}

//FONTS
.beer-font {
    font-weight: 900;
    color: #000;
    &.beer-font--large {
        font-size: 8em;
        letter-spacing: -10px;
    }
    &.beer-font--small {
        font-size: 3em;
        letter-spacing: -4px;
        text-transform: uppercase;
        margin-left: 10px;
    }
    &.beer-font--description {
        text-transform: uppercase;
        font-size: 1em;
        letter-spacing: -1px;
        color: rgba(0, 0, 0, .4);
    }
}

//BOX 1
.beer-box-1 {
    min-height: 600px;
}

//BOX 2
.beer-box-2 {
    background-color: #fff;
}

//DARTH
.beer-darth {
    position: absolute;
    right: 0;
    bottom: 0;
}

//BTN
.beer-btn {
    background-color: $bg-beer-js;
    color: #000;
    &:hover,
    &:focus {
        background-color: darken($bg-beer-js, 10%);
    }
}