// Variables
// ----------

$pure-black:            #000;
$pure-white:            #fff;
$bg-beer-js:            #F9E034;
$bg-beer-js-shadow:     #f3bb20;
$bg-beer-js-header:     linear-gradient(to bottom, $bg-beer-js, $bg-beer-js-shadow);

// Wrappers
// ----------
body {
    background: $bg-beer-js;
}

// Canvas Bubbles
// ---------------

canvas.sketch {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
}

.love {
    color: $pure-white;
    display: inline-block;
    font-size: 1.4em;
    position: relative;
    top: .2em;
    transform: scale(.95);
    animation: simplePulse 1.1s infinite ease-in-out;
}

.primary-layer {
    z-index: 1;
    position: relative;
    &.primary-layer--no-position {
        position: initial;
    }
}

.bg-white {
    background-color: $pure-white;
}

// Gaps
// ----------

$gap: 120px;

.top-gap {
    margin-top: $gap;
}

.bottom-gap {
    margin-bottom: $gap;
}

.left-gap {
    margin-left: $gap;
}

.right-gap {
    margin-right: $gap;
}

.no-top-gap {
    margin-top: 0;
}

.no-bottom-gap {
    margin-bottom: 0;
}

.no-left-gap {
    margin-left: 0;
}

.no-right-gap {
    margin-right: 0;
}

// Flex Grid
// ----------

.flex {
    display: flex;
    &.flex--align-center {
        justify-content: center;
    }
    &.flex--align-center-center {
        align-items: center;
        justify-content: center;
    }
    &.flex--align-center-baseline {
        align-items: baseline;
        justify-content: center;
    }
    &.flex--column {
        flex-direction: column;
    }
}

// Header
// ----------

.beer-nav {
    background-color: rgba(0, 0, 0, .02);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.02), 0 1px 5px 0 rgba(0, 0, 0, 0), 0 3px 1px -2px rgba(0, 0, 0, 0.08);
    transition: background-color .2s linear;
    &.beer-nav--bg-white {
        background-color: $pure-white;
    }
    a {
        color: $pure-black;
    }
}

// Typography
// ----------

.beer-font {
    font-weight: 900;
    color: $pure-black;
    &.beer-font--large {
        font-size: 8em;
        letter-spacing: -10px;
    }
    &.beer-font--small {
        font-size: 3em;
        letter-spacing: -4px;
        text-transform: uppercase;
        margin-left: 10px;
    }
    &.beer-font--description {
        text-transform: uppercase;
        font-size: 1.2em;
        letter-spacing: -1px;
        color: rgba(0, 0, 0, .4);
    }
}

// Emoji beer gap adjust
.icon-emo-beer {
    margin: 0 17px 0 4px;
}    

// Titles
.beer-box--title {
    color: $pure-black;
}

// Links
.beer-link {
    color: $bg-beer-js-shadow;
    border-bottom: 2px dashed $bg-beer-js-shadow;
    padding: 0 4px;
    border-radius: 2px;
    transition: all .2s ease-in;

    &:hover {
        color: $pure-black;
        border-color: $bg-beer-js;
        background: $bg-beer-js;
    }
}

// Templates
// ----------

// Box 1
.beer-box-1 {
    background: $bg-beer-js-header;
    min-height: 600px;
}

// Box 2
.beer-box-2 {
    background-color: $pure-white;
}

// Darth
.beer-darth {
    position: absolute;
    right: 0;
    bottom: 0;
}

// Buttons
// ----------

// Btn
.beer-btn {
    background-color: $bg-beer-js;
    color: $pure-black;

    &:hover,
    &:focus {
        background-color: $bg-beer-js-shadow;
    }
}

// Custom Materialize CSS
// --------------
#sidenav-overlay {
    z-index: auto;
}

html {
    color: lighten($pure-black, 30%);
}

// Animations
// ------------
@keyframes simplePulse {  
    0% {
        opacity: .4;
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        opacity: .98;

    }
}